services:

  #
  # Switchboard
  # See https://hub.docker.com/r/jchristn77/switchboard
  # and https://github.com/jchristn/Switchboard
  #

  switchboard:
    container_name: 'switchboard'
    image: 'jchristn77/switchboard:v2.0.0'
    network_mode: 'host'
    stdin_open: true
    tty: true
    volumes:
      - ./sb.json:/app/sb.json
      - ./logs/:/app/logs/
    healthcheck:
      test: curl --fail http://localhost:8000
